.qsys_edit
db
DE0_HPS_Example
hps_isw_handoff
incremental_db
c5_pin_model_dump.txt
DE0_HPS_Example_assignment_defaults.qdf
DE0_HPS_Example_top.v.bak
DE0_HPS_Example.asm.rpt
DE0_HPS_Example.done
DE0_HPS_Example.fit.smsg
DE0_HPS_Example.fit.summary
DE0_HPS_Example.flow.rpt
DE0_HPS_Example.fit.rpt
DE0_HPS_Example.jdi
DE0_HPS_Example.map.rpt
DE0_HPS_Example.map.smsg
DE0_HPS_Example.map.summary
DE0_HPS_Example.pin
DE0_HPS_Example.qws
DE0_HPS_Example.sld
DE0_HPS_Example.sopcinfo
DE0_HPS_Example.sta.rpt
DE0_HPS_Example.sta.summary
hps_sdram_p0_summary.csv
qar_info.json
*.bak